.react-flow__handle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: #784be8; */
}
.react-flow {
  overflow: visible !important;
  height: "100%";
  width: "100%";
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 14px;
}

.react-flow .react-flow__handle-top {
  top: -10px;
}

.react-flow .react-flow__handle-bottom {
  bottom: -10px;
}

.react-flow__node {
  height: 80px;
  width: 180px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: 2px;
  font-weight: 700;
}

.react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 2;
}

.wrapper {
  flex-grow: 1;
  height: 100%;
  margin-top: 60px;
}
